mulesoft-integration-hub/src/main/mule/salesforce-erp-sync.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
  MuleSoft Flow: Salesforce ↔ ERP Sync
  Author: Vijaya Saradhi Meka
  Syncs Account changes from Salesforce to ERP in real-time via Platform Events.
-->
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
      xmlns:http="http://www.mulesoft.org/schema/mule/http">

  <!-- Subscribe to Salesforce Account CDC events -->
  <flow name="salesforce-account-cdc-listener">
    <salesforce:cdc-listener channel="/data/AccountChangeEvent" config-ref="Salesforce_Config"/>
    <logger level="INFO" message="Account change detected: #[payload.changeEventHeader.entityName]"/>
    <flow-ref name="transform-and-sync-to-erp"/>
  </flow>

  <!-- Transform and push to ERP -->
  <flow name="transform-and-sync-to-erp">
    <http:request config-ref="ERP_HTTP_Config" method="POST" path="/api/accounts/sync">
      <http:headers>
        <http:header key="Content-Type" value="application/json"/>
        <http:header key="Authorization" value="Bearer #[vars.erpToken]"/>
      </http:headers>
    </http:request>
    <logger level="INFO" message="ERP sync complete — status: #[attributes.statusCode]"/>
  </flow>

</mule>
